<div class="header-container gap-v">
  <img src="../../assets/logo.svg" alt="logo" class="logo" />
  <div class="header-title title">A history of everything you copy</div>
  <div class="header-context context">
    Clipboard allows you to track and organize everything you copy. Instantly
    access your clipboard on all your devices.
  </div>
  <div class="button-container">
    <button class="ios btn">Download for IOS</button>
    <button class="mac btn">Download for Mac</button>
  </div>
  <div class="header-subtitle title">Keep track of your snippets</div>
  <div class="header-subcontext context">
    Clipboard instantly store any item you copy in the cloud, meaning you can
    access your snippets immediately on all your devices. Our Mac and IOS apps
    will help you organize everything.
  </div>
</div>
