<div class="container">
  <app-header></app-header>
  <div class="main-container gap-v">
    <img
      src="../assets/image-computer.png"
      alt="image-computer"
      class="desktop-img"
    />
    <div class="main-info-container">
      <div class="main-label">Quick Search</div>
      <div class="main-context">
        Easily search your snippets by content, category, web address,
        application, and more.
      </div>
      <div class="main-label">iCloud Sync</div>
      <div class="main-context">
        Instantly saves and synces snippets across all your devices.
      </div>
      <div class="main-label">Complete History</div>
      <div class="main-context">
        Retrieve any snippets from the first moment you started using the app.
      </div>
    </div>
  </div>
  <div class="clipboard-container gap-v">
    <div class="clipboard">
      <div class="clip-label">Access Clipboard Anywhere</div>
      <div class="clip-context">
        Whether you're on the go, orat your computer, you can access all your
        Clipboard snippets in a few simple clicks.
      </div>
    </div>
    <img
      src="../assets/image-devices.png"
      alt="image-devices"
      class="image-devices"
    />
  </div>
  <div class="supercharge-container gap-v">
    <div class="supercharge-label">Supercharge your workflow</div>
    <div class="supercharge-context">
      We've got the tools to boost your productivity
    </div>
    <div class="feature-container">
      <div class="feature">
        <img
          src="../assets/icon-blacklist.svg"
          alt="icon-blacklist"
          class="icon"
        />
        <div class="feature-title">Create blacklists</div>
        <div class="feature-context">
          Ensure sensitive information never makes its way to your clipboard by
          excluding certain sources.
        </div>
      </div>
      <div class="feature">
        <img src="../assets/icon-text.svg" alt="icon-text.svg" class="icon" />
        <div class="feature-title">Plain text snippets</div>
        <div class="feature-context">
          Remove unwanted formatting from copied text for a consistent look.
        </div>
      </div>
      <div class="feature">
        <img
          src="../assets/icon-preview.svg"
          alt="icon-preview.svg"
          class="icon"
        />
        <div class="feature-title">Sneak preview</div>
        <div class="feature-context">
          Quick preview of all snippets on your Clipboard for easy access.
        </div>
      </div>
    </div>
    <div class="company-container">
      <img
        src="../assets/logo-google.png"
        alt="logo-google"
        class="company-icon"
      />
      <img src="../assets/logo-ibm.png" alt="logo-ibm" class="company-icon" />
      <img
        src="../assets/logo-microsoft.png"
        alt="logo-microsoft.png"
        class="company-icon"
      />
      <img src="../assets/logo-hp.png" alt="logo-hp.png" class="company-icon" />
      <img
        src="../assets/logo-vector-graphics.png"
        alt="logo-vector-graphics.png"
        class="company-icon"
      />
    </div>
  </div>
  <app-footer></app-footer>
</div>
