.container {
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.main-container {
  margin-top: 8%;
  display: flex;
}

.main-info-container {
}

.main-label,
.feature-title {
  font-family: "BaiJamjuree-Bold";
  color: hsl(210, 10%, 33%);
  margin-top: 15%;
  font-size: 25px;
}

.main-context,
.feature-context {
  font-size: 21px;
  color: hsl(201, 11%, 66%);
  margin-top: 3%;
}

.clipboard-container {
  display: grid;
  justify-items: center;
  margin-top: 10%;
}
.clipboard {
  padding: 0% 22%;
  margin-bottom: 8%;
}
.clip-label,
.supercharge-label {
  font-family: "BaiJamjuree-Bold";
  color: hsl(210, 10%, 33%);
  margin-top: 10%;
  text-align: center;
  font-size: 35px;
}
.clip-context,
.supercharge-context {
  text-align: center;
  color: hsl(201, 11%, 66%);
  margin-top: 3%;
  font-size: 18px;
}
.image-devices {
}

.feature-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8%;
}

.supercharge-container {
  text-align: center;
}
.icon {
  height: 32px;
}
.company-container {
  margin-top: 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (min-width: 679px) {
  .container {
    background-image: url("../assets/bg-header-desktop.png");
    padding-top: 10%;
    height: 100%;
  }
  .desktop-img {
    position: relative;
    left: -15%;
  }
  .supercharge-label {
    margin-top: 5%;
  }
  .supercharge-context {
    margin-top: 2%;
  }
  .feature-title {
    margin-top: 35px;
    font-size: 20px;
  }
  .feature-context {
    font-size: 17px;
  }
  .feature {
    width: 30%;
  }
  .gap-v {
    padding: 0% 10%;
  }
}

@media (max-width: 678px) {
  .container {
    background-image: url("../assets/bg-header-mobile.png");
    padding: 5% 0%;
    height: 90%;
  }
  .desktop-img,
  .image-devices {
    width: 100%;
  }
  .main-container {
    display: grid;
  }
  .main-info-container {
    text-align: center;
  }
  .main-label,
  .clip-label,
  .supercharge-label,
  .feature-title {
    font-size: 180%;
  }
  .main-context,
  .clip-context,
  .supercharge-context,
  .feature-context {
    font-size: 120%;
    line-height: 1.5em;
  }
  .clipboard-container {
    margin-top: 40%;
  }
  .clipboard {
    padding: 0;
    margin-bottom: 20%;
  }
  .feature-container {
    display: grid;
    margin-top: 8%;
  }
  .feature-title {
    margin-top: 8%;
  }
  .feature {
    margin-top: 20%;
  }
  .company-container {
    margin-top: 35%;
    display: grid;
    justify-content: center;
  }
  .company-icon {
    margin-bottom: 40%;
  }
  .gap-v {
    padding: 0% 5%;
  }
}
