@font-face {
  font-family: "BaiJamjuree";
  src: url("fonts/BaiJamjuree-Regular.ttf");
}
@font-face {
  font-family: "BaiJamjuree-Bold";
  src: url("fonts/BaiJamjuree-Bold.ttf");
}
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: "BaiJamjuree";
}
